/*
The asterisk means : ALL 
General settings for all elements
*/

* {
border-radius:0px;
font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
font-size:16px;
margin-top:4px;
margin-bottom:4px;
margin-right:4px;
margin-left:4px;
padding-top:8px;
padding-bottom:8px;
padding-right:8px;
padding-left:8px;
text-shadow:none;
}

/* Lights On */
.bodyLights {
background-color:#FFFFFF;
border-color:#000000;
color:#000000;
}

/*
The Dot means class
*/

.center {
align-items:center;
display:flex;
justify-content:center;
text-align:center;
width:auto;
height:auto;
}

.div {
border-style:solid;
border-size:2px;
width:50%;
}

/* Specific settings for single elements */
body {
background-color:#000000;
border-color:#FFFFFF;
color:#FFFFFF;
height:100%;
width:100%;
overflow-x:hidden;
overflow-y:hidden;
}

/* Button */
button {

}

/* Section headings */
h1 {font-size:48px;}
h2 {font-size:40px;}
h3 {font-size:32px;}
h4 {font-size:24px;}
h5 {font-size:16;}
h6 {font-size:8px;}

/* Input field */
input {
height:32px;
width:32px;
}
