/*  
    https://www.dafont.com/it/generic-mobile-system.font
*/

@font-face {
    font-family: GenericMobileSystem;
    src: url(../assets/fonts/GenericMobileSystem.ttf);
}

@font-face {
    font-family: GenericMobileSystemNuevo;
    src: url(../assets/fonts/GenericMobileSystemNuevo.ttf);
}

@font-face {
    font-family: GenericMobileSystemNuevoO;
    src: url(../assets/fonts/GenericMobileSystemNuevoO.ttf);
}

@font-face {
    font-family: GenericMobileSystemO;
    src: url(../assets/fonts/GenericMobileSystemO.ttf);
}