.motd {
    overflow: hidden;
    --offset: 100vw;
    --move-initial: calc(var(--offset));
    --move-final: calc(-220vw + var(--offset));
}

.motd span {
    color: $text-color;
    display: flex;
    animation: marquee 15s linear infinite;
    font-size: 24px;
    animation-play-state: running;
    width: 120vw
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}